<div class="flex w-full h-full">
  <p-card class="w-full h-full">
    <ng-template pTemplate="header">
      <div class="flex justify-content-between align-items-center p-3">
        <div class="newsTitle">我的最愛</div>
        <div class="more">
          <p-button label="查看更多" styleClass="p-button-rounded"></p-button>
        </div>
      </div>
    </ng-template>
    <ng-template pTemplate="content">
      <div class="w-full h-full">
        <div class="grid">
          <div *ngFor="let item of favorite" class="col-4">
            <div
              class="bg-white border-round-xl p-2"
              (click)="onFavoriteClick(item)"
            >
              <div class="flex flex-column">
                <div class="flex justify-content-between align-items-center">
                  <p-avatar
                    [image]="item.icon"
                    [style]="item.avatarBgcColor"
                  ></p-avatar>
                  <div class="flex flex-column">
                    <div class="flex justify-content-end">
                      <p-image src="assets/img/star.svg"></p-image>
                    </div>
                    <div>
                      {{ item.version }}
                    </div>
                  </div>
                </div>
                <div
                  class="flex align-items-center justify-content-between mt-1"
                >
                  <div>
                    {{ item.title }}
                  </div>
                  <div>
                    <i class="pi pi-angle-right" style="font-size: 1rem"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </p-card>
</div>
