$gutter: 5rem;

.newsTitle {
  color: #191c1a;
  /* HIS/headline/medium */
  font-family: Roboto;
  font-size: 1.75rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.25rem; /* 128.571% */
}

:host ::ng-deep .more .p-button-label {
  text-align: center;
  /* HIS/label/medium */
  font-family: Noto Sans TC;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1rem; /* 100% */
}

:host ::ng-deep .p-card {
  background-color: #eceeeb;
  height: 100%;
  border-radius: 0.75rem;
}

:host ::ng-deep .p-card .p-card-body {
  padding: 0rem 1rem;
}

:host ::ng-deep .p-divider.p-divider-horizontal {
  margin: 0.75rem 0rem;
}
