<div class="flex justify-content-between align-items-center pt-1">
  <div class="flex align-items-center pl-4">
    <i class="pi pi-book" style="font-size: 1rem"></i>
    <div class="pl-2">
      2023-04-11 下午 305診 4號-林明樺 0038842103 男 1943-08-03 (79Y 9M)
      #189162254
    </div>
  </div>
  <div class="flex align-items-center grid">
    <div class="col">
      <p-button
        icon="pi pi-angle-left"
        styleClass="p-button-rounded p-button-text text-color"
      ></p-button>
    </div>
    <div class="col">
      <p-button
        icon="pi pi-angle-right"
        styleClass="p-button-rounded p-button-text text-color"
      ></p-button>
    </div>
    <div class="col">
      <span class="p-input-icon-left">
        <i class="pi pi-search"></i>
        <input type="text" pInputText placeholder="查詢" />
      </span>
    </div>
    <div class="col">
      <p-button
        icon="pi pi-list"
        styleClass="p-button-rounded p-button-text text-color"
      ></p-button>
    </div>
  </div>
</div>
