<div class="flex w-full h-full">
  <p-card class="w-full h-full">
    <ng-template pTemplate="header">
      <div class="flex justify-content-between align-items-center p-3">
        <div class="newsTitle">最新消息</div>
        <div class="more">
          <p-button label="查看更多" styleClass="p-button-rounded"></p-button>
        </div>
      </div>
    </ng-template>
    <ng-template pTemplate="content">
      <div class="bg-white border-round-xl p-4 w-full h-full">
        <div *ngFor="let item of news">
          <div class="grid">
            <div class="col-3 flex align-items-center">
              {{ item.time }}
            </div>
            <div class="col-7 flex align-items-center text-xl pl-7">
              {{ item.title }}
            </div>
            <div class="col-2 flex align-items-center">
              <a href="" *ngIf="item.link !== ''">請點選進入</a>
            </div>
          </div>
          <p-divider></p-divider>
        </div>
      </div>
    </ng-template>
  </p-card>
</div>
