.container {
  height: calc(100vh - 12rem);

  :host ::ng-deep {
    & .p-card {
      height: 100%;
    }

    & .p-card .p-content {
      padding: 0rem;
    }

    .card-content {
      margin: 0rem;
      max-height: calc(100vh - 43.2rem);
    }
  }
}
