<div class="container grid p-3">
  <div *ngFor="let clinicItem of clinicCardItems" class="col-6">
    <p-card [style]="{ 'border-radius': '0.75rem' }">
      <ng-template pTemplate="header">
        <div class="flex justify-content-between align-items-center px-3 pt-4">
          <div>{{ clinicItem.title }}</div>
          <i class="pi pi-window-maximize" style="font-size: 1rem"></i>
        </div>
      </ng-template>
      <ng-template pTemplate="subtitle">
        <div class="flex align-items-center my-2">
          {{ clinicItem.date }}
        </div>
      </ng-template>
      <div class="h-full">
        <div
          *ngIf="clinicItem.type === CardContentType.Content; else elseTemplate"
        >
          <div
            class="overflow-auto text-overflow-clip overflow-auto card-content"
          >
            {{ clinicItem.content }}
          </div>
        </div>
        <ng-template #elseTemplate>
          <div
            class="overflow-auto text-overflow-clip overflow-auto card-content"
          >
            <p-table
              [value]="clinicTableItems"
              dataKey="id"
              styleClass="p-datatable-sm"
            >
              <ng-template pTemplate="header">
                <tr>
                  <th>狀態</th>
                  <th>類別</th>
                  <th>診斷代碼</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-clinicTableItem>
                <tr>
                  <td>
                    <p-tableCheckbox
                      [value]="clinicTableItem.state"
                    ></p-tableCheckbox>
                  </td>
                  <td>{{ clinicTableItem.class }}</td>
                  <td>{{ clinicTableItem.code }}</td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </ng-template>
      </div>
    </p-card>
  </div>
</div>
