<div class="flex flex-column w-full h-full px-4 container">
  <app-clinic-cope-sub-tool class="w-full"></app-clinic-cope-sub-tool>
  <div class="mt-3 w-full">
    <app-clinic-cope-sub-main class="content"></app-clinic-cope-sub-main>
  </div>
</div>
