<div class="margin">
  <div
    class="surface-ground flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden"
  >
    <div class="flex flex-column align-items-center justify-content-center">
      <div
        style="
          border-radius: 2.5rem;
          padding: 0.1rem;
          background: linear-gradient(
            180deg,
            var(--primary-color) 10%,
            rgba(33, 150, 243, 0) 35%
          );
        "
      >
        <div
          class="w-full surface-card py-8 px-5 sm:px-8"
          style="border-radius: 2.4rem"
        >
          <div class="text-center mb-5">
            <p-image
              src="assets/img/logo.svg"
              alt="Image"
              height="100"
              class="mb-3"
            />
            <div class="text-3xl font-medium my-3 title">歡迎使用醫療系統</div>
          </div>

          <div>
            <label for="email1" class="block text-900 text-xl font-medium mb-2"
              >帳號</label
            >
            <input
              id="email1"
              type="text"
              pInputText
              class="w-full md:w-30rem mb-5"
              style="padding: 1rem"
            />

            <label
              for="password1"
              class="block text-900 font-medium text-xl mb-2"
              >密碼</label
            >
            <p-password
              id="password1"
              [(ngModel)]="password"
              [toggleMask]="true"
              styleClass="mb-5"
              inputStyleClass="w-full p-3 md:w-30rem"
            ></p-password>

            <div class="flex align-items-center justify-content-end mb-5 gap-5">
              <a class="font-medium no-underline ml-2 text-right cursor-pointer"
                >忘記密碼?</a
              >
            </div>
            <p-button
              styleClass="p-button-rounded"
              label="登入"
              class="w-full text-xl"
              [routerLink]="['/']"
            ></p-button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
