<div class="container" [@toggleBtn]="sideBarToggle() ? 'open' : 'closed'">
  <div class="top-side grid">
    <div class="col">
      <p-button
        [icon]="sideBarToggleIcon()"
        styleClass="p-button-rounded p-button-text"
        [style]="{ color: '#191C1A', 'font-size': '3rem' }"
        (click)="onSideBarToggle()"
      ></p-button>
    </div>
  </div>
  <div class="bottom-side grid">
    <div
      class="col relative flex"
      [@companyLogo]="sideBarToggle() ? 'open' : 'closed'"
    >
      <p-image
        src="../../../assets/img/logo.svg"
        alt="Image"
        width="20rem"
        height="20rem"
        class="mb-3"
      />
      <div *ngIf="sideBarToggle()" class="ml-2" @companyName>雲行至善</div>
    </div>
    <div class="relative" [@divider]="sideBarToggle() ? 'open' : 'closed'">
      <div class="divider"></div>
    </div>
    <div class="col relative" [@homeBtn]="sideBarToggle() ? 'open' : 'closed'">
      <p-button
        icon="pi pi-home"
        styleClass="p-button-rounded p-button-text"
        [style]="{ color: '#191C1A', 'font-size': '3rem' }"
        [routerLink]="['/home']"
      ></p-button>
    </div>
    <div
      class="col relative flex justify-content-center align-items-center"
      [@avatarBtn]="sideBarToggle() ? 'open' : 'closed'"
    >
      <p-avatar
        image="assets/img/avatar.png"
        [style]="{ 'font-size': '3rem' }"
        shape="circle"
      ></p-avatar>
    </div>
    <div class="col relative" [@bellBtn]="sideBarToggle() ? 'open' : 'closed'">
      <p-button
        icon="pi pi-bell"
        styleClass="p-button-rounded p-button-text"
        [style]="{ color: '#191C1A', 'font-size': '3rem' }"
      ></p-button>
    </div>
    <div
      class="col relative"
      [@applicationBtn]="sideBarToggle() ? 'open' : 'closed'"
    >
      <p-button
        icon="pi pi-th-large"
        styleClass="p-button-rounded p-button-text"
        [style]="{ color: '#191C1A', 'font-size': '3rem' }"
      ></p-button>
    </div>
    <div
      class="col relative"
      [@logoutBtn]="sideBarToggle() ? 'open' : 'closed'"
    >
      <p-button
        icon="pi pi-sign-out"
        styleClass="p-button-rounded p-button-text"
        [style]="{ color: '#191C1A', 'font-size': '3rem' }"
        [routerLink]="['/login']"
      ></p-button>
    </div>
  </div>
</div>
