.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 3.75rem;
  height: 100%;
  background-color: #d8dbd7;

  .top-side {
    flex-direction: column;
    justify-content: start;
    align-items: center;
  }

  .bottom-side {
    flex-direction: column;
    justify-content: end;
    align-items: center;
    margin-bottom: 0.5rem;
  }

  .divider {
    width: 100%;
    height: 0.1rem;
    background-color: #bfc9c2;
  }
}
