<div class="container">
  <div class="avatar">
    <p-avatar
      image="assets/img/avatar.png"
      styleClass="mr-2"
      size="xlarge"
      shape="circle"
    ></p-avatar>
  </div>
  <div class="welcome-title">Ray, 歡迎回來</div>
</div>
