.container {
  display: flex;
  align-items: center;

  .avatar {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .welcome-title {
    margin-left: 1.5rem;
    font-family: Roboto;
    font-size: 1.75rem;
    font-style: normal;
    font-weight: 700;
    line-height: 2.25rem;
    color: var(--primary-color);
  }

  :host ::ng-deep .p-avatar-xl {
    width: 5rem;
    height: 5rem;
  }
}
