<div class="container">
  <div>
    <app-home-header></app-home-header>
  </div>
  <div class="grid mt-4 w-full h-full">
    <div class="col w-full h-full">
      <app-home-news></app-home-news>
    </div>
    <div class="col">
      <app-home-favorite></app-home-favorite>
    </div>
  </div>
</div>
