<div class="flex w-full h-full gap-4 pb-4">
  <div class="main-row" [style]="{ 'background-color': '#ECEEEB' }">
    <app-clinic-card class="w-full h-full"></app-clinic-card>
  </div>
  <div class="main-row" [style]="{ 'background-color': '#ECEEEB' }">
    <app-clinic-card class="w-full"></app-clinic-card>
  </div>
  <div class="bg-white main-row">123</div>
</div>
