<div class="flex justify-content-between align-items-center">
  <div class="flex">
    <div class="flex justify-content-between align-items-center">
      <div class="tool-icon flex justify-content-center align-items-center">
        <i class="pi pi-pencil" style="font-size: 1rem"></i>
      </div>
      <div class="mr-2">身份：40 健保/無</div>
      <div class="divider"></div>
    </div>
    <div class="flex justify-content-between align-items-center">
      <div class="tool-icon flex justify-content-center align-items-center">
        <i class="pi pi-pencil" style="font-size: 1rem"></i>
      </div>
      <div class="mr-2">負擔：A12一般門診</div>
      <div class="divider"></div>
    </div>
    <div class="flex justify-content-between align-items-center">
      <div class="tool-icon flex justify-content-center align-items-center">
        <i class="pi pi-pencil" style="font-size: 1rem"></i>
      </div>
      <div class="mr-2">卡號：無</div>
      <div class="divider"></div>
    </div>
    <div class="flex justify-content-between align-items-center">
      <div class="tool-icon flex justify-content-center align-items-center">
        <i class="pi pi-pencil" style="font-size: 1rem"></i>
      </div>
      <div class="mr-2">療程：0 非療程</div>
      <div class="divider"></div>
    </div>
    <div class="flex justify-content-between align-items-center">
      <div class="tool-icon flex justify-content-center align-items-center">
        <i class="pi pi-pencil" style="font-size: 1rem"></i>
      </div>
      <div class="mr-2">類別：4 普通疾病</div>
    </div>
  </div>
  <div class="flex">
    <div class="ml-1 pl-2">
      <p-button label="CDSS" styleClass="p-button-outlined h-full"></p-button>
    </div>
    <div class="ml-1 pl-2">
      <p-button label="紀錄" styleClass="p-button-outlined h-full"></p-button>
    </div>
    <div class="ml-1 pl-2">
      <p-button icon="pi pi-microsoft" styleClass="h-full"></p-button>
    </div>
    <div class="ml-1 pl-2">
      <p-button
        icon="pi pi-bars"
        styleClass="p-button-outlined h-full bg-white"
        [style]="{ border: '0px' }"
      ></p-button>
    </div>
    <div class="ml-1 pl-2">
      <p-button
        icon="pi pi-arrows-v"
        styleClass="p-button-outlined h-full bg-white"
        [style]="{ border: '0px' }"
      ></p-button>
    </div>
  </div>
</div>
