<div class="flex justify-content-between align-items-center p-3 w-full">
  <div class="flex">
    <p-breadcrumb
      class="max-w-full"
      [model]="clinicBreadcrumbList"
      [style]="{ background: 'none', border: 0 }"
    >
      <ng-template pTemplate="separator">
        <div>/</div>
      </ng-template>
    </p-breadcrumb>
    <div class="flex align-items-center">
      <i class="pi pi-question-circle" style="font-size: 1.5rem"></i>
    </div>
  </div>
  <div class="flex">
    <div class="flex align-items-center justify-content-center mr-1 pr-2">
      <p-splitButton
        label="Dittos"
        [model]="this.items"
        styleClass="p-button-rounded"
      ></p-splitButton>
    </div>
    <div class="flex align-items-center justify-content-center mr-1 pr-2">
      <p-splitButton label="列印" styleClass="p-button-rounded"></p-splitButton>
    </div>
    <div class="flex align-items-center justify-content-center mr-1 pr-2">
      <p-button label="預約掛號" styleClass="p-button-rounded"></p-button>
    </div>
    <div class="flex align-items-center justify-content-center mr-1 pr-2">
      <p-button
        label="放棄"
        styleClass="p-button-outlined p-button-rounded"
      ></p-button>
    </div>
    <div class="flex align-items-center justify-content-center">
      <p-button label="全部完成" styleClass="p-button-rounded"></p-button>
    </div>
  </div>
</div>
