/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/primeng.css";
@import "primeng/resources/themes/saga-green/theme.css";
// @import "./assets/theme/saga-green/theme.css";
@import "primeicons/primeicons.css";

body {
  font-family: var(--font-family);
  margin: 0px;
  height: 100%;
}
